#grid
{
    display: grid;
    width: 80vmin;
    height: 80vmin;

    position: absolute;
    left: 10vmin;
}

.pixel
{
    border: solid;
    border-width: thin;
}

.buttons
{
    position: relative;
    
}